@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans&display=swap");

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
  display: inline-block;
}

li {
  list-style-type: none;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  color: #ffffff;
}

.container {
  max-width: 1171px;
  width: 100%;
  margin: 0 auto;
}

.containerSecond {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
}

.background {
  background: url(../img/banner.png) no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 15px;
}

/* .header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .logo img {
  max-width: 138px;
  width: 100%;
}
.header__inner .menu__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner .menu__list a {
  color: #ffffff;
  font-size: 16px;
}
.header__inner .menu__list li {
  margin-left: 55px;
} */

.main__Txt {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 715px;
  width: 100%;
  margin: 0 auto;
}

.main__Txt__inner {
  padding-top: 330px;
  text-align: center;
}

.main__Txt__inner .main__Txt-1 {
  font-size: 72px;
  font-weight: 100;
  line-height: 0.44;
  text-transform: uppercase;
}

.main__Txt__inner .main__Txt-2 {
  line-height: 1.78;
}

.ourStory {
  background-color: #962323;
  padding: 120px 20px 120px 20px;
}

.ourstory__box {
  display: flex;
}

.ourstory__box .ourstory-left img {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  max-width: 445px;
  transition: 0.5s;
}
.ourstory-left img:hover{
  transform: scale(1.1);
}
.ourstory-right {
  max-width: 508px;
  margin-left: 140px;
  text-align: center;
}

.ourstory-right .ourstory-title {
  font-family: "Great Vibes", cursive;
  font-size: 56px;
  line-height: 0.57;
  margin-top: 56px;
  margin-bottom: 45px;
}

.ourstory-right .strip {
  background-color: #ffffff;
  width: 108px;
  height: 2px;
  margin: 0 auto;
}

.ourstory-right .outstory-subtitle {
  line-height: 1.78;
  margin-top: 55px;
  text-align: left;
}

.recipes {
  background: url(../img/-e-bg.png) no-repeat;
  background-size: cover;
  padding: 120px 15px 120px 15px;
}

.strip2 {
  background-color: #c8235d;
  width: 108px;
  height: 2px;
  margin: 0 auto;
}

.recipes__inner {
  max-width: 508px;
  margin-left: 140px;
  text-align: center;
  margin: 0 auto;
}

.recipes__inner .recipes-title {
  font-family: "Great Vibes", cursive;
  font-size: 56px;
  line-height: 0.57;
  margin-top: 56px;
  margin-bottom: 45px;
}

.recipes__inner .recipes-subtitle {
  line-height: 1.78;
  margin-top: 55px;
  text-align: left;
}

.ourMenu {
  background-color: #fff;
  padding: 120px 15px 120px 15px;
}

.ourMenu-txt {
  font-family: "Great Vibes", cursive;
  font-size: 56px;
  line-height: 0.57;
  margin-top: 56px;
  margin-bottom: 45px;
  color: #0b0c0d;
  text-align: center;
}

.ourMenu__item {
  max-width: 458px;
  color: #0b0c0d;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 62px;
}

.ourMenu__item .box-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.ourMenu__item .box-title .ourMenu-title {
  line-height: 2;
  padding-right: 10px;
}

.ourMenu__item .box-title .cost-menu {
  color: #c8235d;
  line-height: 2;
}

.ourMenu__item .descr-menu {
  opacity: 0.7;
  text-align: left;
}

.ourMenu__items {
  display: flex;
  justify-content: space-between;
  margin-top: 115px;
}

.ourMenu-right {
  margin-left: 191px;
}

.slider {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer {
  background-color: #25262a;
  padding: 85px 15px 85px 15px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
}

.footer__items .footer-item__first {
  max-width: 244px;
}

.footer__items .footer-item__first .footer-item__first-txt {
  font-size: 14px;
  line-height: 2.29;
}

.footer__items .footer-item__first img {
  margin-bottom: 56px;
}

.footer__items .footer-item {
  display: block;
  justify-content: center;
  max-width: 129px;
}

.footer__items .footer-item .footer-item__title {
  line-height: 1.78;
}

.footer__items .footer-item .footer-menu {
  padding: 0;
  margin-top: 50px;
}

.footer__items .footer-item .footer-menu a {
  color: #ffffff;
  line-height: 2.29;
  font-size: 16px;
}

.footer-contact {
  max-width: 191px;
}

.footer-contact .footer-contact__title {
  line-height: 1.78;
  margin-bottom: 50px;
}

.footer-box-contact {
  display: flex;
  margin-bottom: 20px;
}

.footer-box-contact img {
  margin-right: 18px;
}

.footer-box-contact .footer-number a {
  color: #fff;
}

.under-footer {
  background-color: #16171b;
  padding: 63px 15px 42px 15px;
}

.under-footer-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.under-footer-items .site-link {
  color: rgba(175, 175, 175, 0.5);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
}

.under-footer-items .footer-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.under-footer-items .footer-nav__list li {
  margin-right: 25px;
}

.under-footer-items .footer-nav__list li:last-child {
  margin-right: 0;
}

.under-footer-items .footer-nav__list a {
  color: rgba(175, 175, 175, 0.5);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
}

.under-footer-items .underfooter-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.under-footer-items .underfooter-social a {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */



.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding-left: 20px;
  padding-right: 20px;
}


.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header__logo {
  flex: 0 0 130px;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
  display: block;
}

.header__burger {
  display: none;
}

@media (max-width: 901px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    height: 50px;
  }

  /*   .header__logo {
    flex: 0 0 40px;
  } */
  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: flex;
    flex-direction: column;

  }

  .header__list li {
    margin: 0px 0px 50px 0px;
  }
}


.header__list li {
  display: inline-block;
  position: relative;
}
.header__list li:after {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  top: 30px;
  height: 2px;
  background-color: #ffffff;
  content: "";
  transition: width 0.5s ease-out;
}
.header__list li:hover:after,
.header__list li:focus:after {
  width: 90%;
}
.header__list {
  display: flex;
  position: relative;
  z-index: 2;
}

.header__list li {
  margin-left: 55px;
}

.header__link {
  color: #fff;
  font-size: 16px;
}


.header__style {
  background-color: rgb(216, 134, 57);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}




@media (max-width: 747px) {
  .main__Txt__inner .main__Txt-1 {
    font-size: 60px;
  }
}


@media (max-width: 627px) {
  .main__Txt__inner .main__Txt-1 {
    font-size: 50px;
  }
}


@media (max-width: 526px) {
  .main__Txt__inner .main__Txt-1 {
    font-size: 40px;
  }
}


@media (max-width: 428px) {
  .main__Txt__inner .main__Txt-1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .main__Txt-2 {
    font-size: 16px;
  }
}

@media (max-width: 327px) {
  .main__Txt__inner .main__Txt-1 {
    font-size: 27px;

  }
}


@media (max-width: 955px) {
  .ourstory__box {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .ourstory-right {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  .ourstory__box .ourstory-left img {
    max-width: 350px;
  }
}


@media (max-width: 404px) {
  .ourstory__box .ourstory-left img {
    max-width: 275px;
  }
}

@media (max-width: 914px) {
  .ourMenu__items {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .ourMenu-right {
    margin-left: 0px;
  }
}



@media (max-width: 879px) {
  .item-margin {
    margin-left: 20px;
  }
}



@media (max-width: 874px) {
.footer__items {
   flex-wrap: wrap;
}
}


@media (max-width: 831px) {
.footer-nav__list{
  padding: 0;
}
}
  

@media (max-width: 481px) {
.footer-nav__list{
  justify-content: stretch !important;
}
  }
    
  

  